In [17]:
import pandas as pd
import numpy as np
import random
%matplotlib inline

In [2]:
data = pd.read_csv("data/coffees.csv") #tells python to import a csv file
print(type(data))
print(type(data.contributor))  #each column is a pandas Series object

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [3]:
data

               timestamp  coffees contributor
0    2011-10-03 08:22:00    397.0     Quentin
1    2011-10-04 11:48:00    410.0     Quentin
2    2011-10-05 07:02:00  testing     Anthony
3    2011-10-05 08:25:00      NaN     Quentin
4    2011-10-05 10:47:00    464.0     Quentin
5    2011-10-05 13:15:00    481.0     Quentin
6    2011-10-06 07:21:00    503.0     Anthony
7    2011-10-06 10:04:00    513.0     Quentin
8    2011-10-06 12:14:00    539.0        Mike
9    2011-10-06 12:49:00    540.0     Quentin
10   2011-10-06 14:52:00    563.0         Ben
11   2011-10-07 07:34:00    581.0     Anthony
12   2011-10-07 08:37:00    587.0     Quentin
13   2011-10-07 11:09:00    605.0     Quentin
14   2011-10-07 13:14:00    616.0        Mike
15   2011-10-07 14:10:00      NaN         Ben
16   2011-10-07 15:20:00    626.0      Mike M
17   2011-10-07 16:50:00    635.0      Mike M
18   2011-10-09 16:53:00    650.0        Colm
19   2011-10-10 07:29:00    656.0     Anthony
20   2011-10-10 10:13:00    673.0     Quentin
21   2011-10-10 13:41:00    694.0      Mike M
22   2011-10-10 14:02:00    699.0     Quentin
23   2011-10-10 15:23:00    713.0     Quentin
24   2011-10-11 14:09:00    770.0      Mike M
25   2011-10-12 08:11:00    790.0     Quentin
26   2011-10-12 09:57:00    799.0      Mike M
27   2011-10-12 10:06:00    805.0      Sergio
28   2011-10-12 12:01:00    818.0      Mike M
29   2011-10-12 12:30:00    819.0     Quentin
..                   ...      ...         ...
641  2013-01-28 10:43:00      NaN      Sergio
642  2013-01-28 13:13:00      NaN     Quentin
643  2013-01-28 14:01:00  16195.0     Quentin
644  2013-01-29 13:43:00  16237.0     Quentin
645  2013-01-29 15:06:00  16257.0     Quentin
646  2013-02-04 13:25:00  16513.0      Sergio
647  2013-02-06 17:33:00  16659.0     Quentin
648  2013-02-07 13:30:00  16714.0      Sergio
649  2013-02-12 08:36:00  16891.0      Sergio
650  2013-02-12 11:39:00  16909.0     Quentin
651  2013-02-13 13:58:00  16977.0     Quentin
652  2013-02-16 11:55:00  17104.0     Quentin
653  2013-02-18 12:04:00      NaN     Quentin
654  2013-02-18 13:46:00  17165.0     Quentin
655  2013-02-21 13:44:00  17345.0     Quentin
656  2013-02-21 15:02:00  17354.0     Quentin
657  2013-02-25 13:33:00  17468.0     Quentin
658  2013-02-25 17:25:00  17489.0     Quentin
659  2013-02-27 09:33:00  17564.0     Quentin
660  2013-03-04 10:46:00  17789.0      Sergio
661  2013-03-04 11:12:00  17793.0     Quentin
662  2013-03-04 16:43:00  17824.0     Quentin
663  2013-03-05 10:42:00  17852.0     Quentin
664  2013-03-05 13:29:00  17868.0     Quentin
665  2013-03-08 10:28:00  18062.0     Quentin
666  2013-03-12 08:28:00  18235.0      Sergio
667  2013-04-05 11:20:00  18942.0      Sergio
668  2013-04-27 11:04:00  19698.0      Sergio
669  2013-09-12 15:38:00  24450.0     Quentin
670  2013-09-13 10:28:00  24463.0     Quentin

[671 rows x 3 columns]

In [4]:
data.head()  #shows the first 5 rows by default
#Exe: try n=10

             timestamp  coffees contributor
0  2011-10-03 08:22:00    397.0     Quentin
1  2011-10-04 11:48:00    410.0     Quentin
2  2011-10-05 07:02:00  testing     Anthony
3  2011-10-05 08:25:00      NaN     Quentin
4  2011-10-05 10:47:00    464.0     Quentin

In [5]:
data.shape   #result: (rows,columns)

(671, 3)

In [6]:
data.columns

Index(['timestamp', 'coffees', 'contributor'], dtype='object')

In [7]:
data.dtypes

timestamp      object
coffees        object
contributor    object
dtype: object

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671 entries, 0 to 670
Data columns (total 3 columns):
timestamp      671 non-null object
coffees        658 non-null object
contributor    671 non-null object
dtypes: object(3)
memory usage: 15.8+ KB

In [38]:
# help(data)
# .loc -->  Purely label-location based indexer for selection by label.
# or
# .iloc  -->  Purely integer-location based indexing for selection by position.

data.iloc[1]
#what about 3 rows?

             timestamp coffees contributor
1  2011-10-04 11:48:00   410.0     Quentin
3  2011-10-05 08:25:00     NaN     Quentin
4  2011-10-05 10:47:00   464.0     Quentin

In [10]:
temp=data[['timestamp','coffees','contributor']]

In [11]:
del temp['coffees']

In [12]:
temp

               timestamp contributor
0    2011-10-03 08:22:00     Quentin
1    2011-10-04 11:48:00     Quentin
2    2011-10-05 07:02:00     Anthony
3    2011-10-05 08:25:00     Quentin
4    2011-10-05 10:47:00     Quentin
5    2011-10-05 13:15:00     Quentin
6    2011-10-06 07:21:00     Anthony
7    2011-10-06 10:04:00     Quentin
8    2011-10-06 12:14:00        Mike
9    2011-10-06 12:49:00     Quentin
10   2011-10-06 14:52:00         Ben
11   2011-10-07 07:34:00     Anthony
12   2011-10-07 08:37:00     Quentin
13   2011-10-07 11:09:00     Quentin
14   2011-10-07 13:14:00        Mike
15   2011-10-07 14:10:00         Ben
16   2011-10-07 15:20:00      Mike M
17   2011-10-07 16:50:00      Mike M
18   2011-10-09 16:53:00        Colm
19   2011-10-10 07:29:00     Anthony
20   2011-10-10 10:13:00     Quentin
21   2011-10-10 13:41:00      Mike M
22   2011-10-10 14:02:00     Quentin
23   2011-10-10 15:23:00     Quentin
24   2011-10-11 14:09:00      Mike M
25   2011-10-12 08:11:00     Quentin
26   2011-10-12 09:57:00      Mike M
27   2011-10-12 10:06:00      Sergio
28   2011-10-12 12:01:00      Mike M
29   2011-10-12 12:30:00     Quentin
..                   ...         ...
641  2013-01-28 10:43:00      Sergio
642  2013-01-28 13:13:00     Quentin
643  2013-01-28 14:01:00     Quentin
644  2013-01-29 13:43:00     Quentin
645  2013-01-29 15:06:00     Quentin
646  2013-02-04 13:25:00      Sergio
647  2013-02-06 17:33:00     Quentin
648  2013-02-07 13:30:00      Sergio
649  2013-02-12 08:36:00      Sergio
650  2013-02-12 11:39:00     Quentin
651  2013-02-13 13:58:00     Quentin
652  2013-02-16 11:55:00     Quentin
653  2013-02-18 12:04:00     Quentin
654  2013-02-18 13:46:00     Quentin
655  2013-02-21 13:44:00     Quentin
656  2013-02-21 15:02:00     Quentin
657  2013-02-25 13:33:00     Quentin
658  2013-02-25 17:25:00     Quentin
659  2013-02-27 09:33:00     Quentin
660  2013-03-04 10:46:00      Sergio
661  2013-03-04 11:12:00     Quentin
662  2013-03-04 16:43:00     Quentin
663  2013-03-05 10:42:00     Quentin
664  2013-03-05 13:29:00     Quentin
665  2013-03-08 10:28:00     Quentin
666  2013-03-12 08:28:00      Sergio
667  2013-04-05 11:20:00      Sergio
668  2013-04-27 11:04:00      Sergio
669  2013-09-12 15:38:00     Quentin
670  2013-09-13 10:28:00     Quentin

[671 rows x 2 columns]

In [33]:
temp.again.value_counts()

8     20
38    20
21    19
36    18
11    18
20    17
46    17
10    17
33    17
42    17
35    17
28    16
0     16
31    16
41    16
13    16
22    15
30    15
24    15
44    14
29    14
16    14
32    13
17    13
1     13
3     13
26    13
9     13
12    13
40    13
19    13
49    12
18    12
25    12
37    12
34    11
2     11
39    11
15    11
14    11
48    10
5     10
43    10
7      9
4      9
45     8
6      8
27     8
47     8
23     7
Name: again, dtype: int64

In [23]:
temp['again']=np.random.randint(0,50,size=len(temp))

In [24]:
temp

               timestamp contributor  new column  again
0    2011-10-03 08:22:00     Quentin          33     32
1    2011-10-04 11:48:00     Quentin          32     31
2    2011-10-05 07:02:00     Anthony          27     26
3    2011-10-05 08:25:00     Quentin          31     12
4    2011-10-05 10:47:00     Quentin          41     47
5    2011-10-05 13:15:00     Quentin          28      0
6    2011-10-06 07:21:00     Anthony          16     38
7    2011-10-06 10:04:00     Quentin          20     39
8    2011-10-06 12:14:00        Mike          49     13
9    2011-10-06 12:49:00     Quentin          21     18
10   2011-10-06 14:52:00         Ben          25     22
11   2011-10-07 07:34:00     Anthony          19     21
12   2011-10-07 08:37:00     Quentin           0     20
13   2011-10-07 11:09:00     Quentin          47     30
14   2011-10-07 13:14:00        Mike          44     17
15   2011-10-07 14:10:00         Ben          41     41
16   2011-10-07 15:20:00      Mike M          46      5
17   2011-10-07 16:50:00      Mike M           9      2
18   2011-10-09 16:53:00        Colm          36     42
19   2011-10-10 07:29:00     Anthony          16     25
20   2011-10-10 10:13:00     Quentin          30     11
21   2011-10-10 13:41:00      Mike M          13     30
22   2011-10-10 14:02:00     Quentin          29     11
23   2011-10-10 15:23:00     Quentin           4     24
24   2011-10-11 14:09:00      Mike M          49     11
25   2011-10-12 08:11:00     Quentin          20     23
26   2011-10-12 09:57:00      Mike M          18      2
27   2011-10-12 10:06:00      Sergio          32      1
28   2011-10-12 12:01:00      Mike M          34      1
29   2011-10-12 12:30:00     Quentin          26     15
..                   ...         ...         ...    ...
641  2013-01-28 10:43:00      Sergio          32     18
642  2013-01-28 13:13:00     Quentin          23     13
643  2013-01-28 14:01:00     Quentin          30      0
644  2013-01-29 13:43:00     Quentin          19     25
645  2013-01-29 15:06:00     Quentin          23     15
646  2013-02-04 13:25:00      Sergio          11     30
647  2013-02-06 17:33:00     Quentin          33     33
648  2013-02-07 13:30:00      Sergio          41     31
649  2013-02-12 08:36:00      Sergio          46      9
650  2013-02-12 11:39:00     Quentin          13      8
651  2013-02-13 13:58:00     Quentin          27     46
652  2013-02-16 11:55:00     Quentin          22     47
653  2013-02-18 12:04:00     Quentin          36      8
654  2013-02-18 13:46:00     Quentin          45     27
655  2013-02-21 13:44:00     Quentin          44      3
656  2013-02-21 15:02:00     Quentin          14     16
657  2013-02-25 13:33:00     Quentin          27      5
658  2013-02-25 17:25:00     Quentin           8      3
659  2013-02-27 09:33:00     Quentin           3     27
660  2013-03-04 10:46:00      Sergio          32     25
661  2013-03-04 11:12:00     Quentin          45     10
662  2013-03-04 16:43:00     Quentin          47     35
663  2013-03-05 10:42:00     Quentin          43     46
664  2013-03-05 13:29:00     Quentin          45     38
665  2013-03-08 10:28:00     Quentin          48     29
666  2013-03-12 08:28:00      Sergio          21     26
667  2013-04-05 11:20:00      Sergio           9     38
668  2013-04-27 11:04:00      Sergio          27     21
669  2013-09-12 15:38:00     Quentin          41      1
670  2013-09-13 10:28:00     Quentin          15     32

[671 rows x 4 columns]